
*{
	margin:0;padding:0;
}

body{
	font:12px "museo-sans", sans-serif;
	line-height:1.5em;
	min-height:100em;
}
.container{
	max-width:960px;
}

.navbar{
	display:none;
}
.top-panel{
	background:url(../img/bg.jpg) no-repeat center;
	background-size:125%;
	height:50em;
	transition:background-size 2s ease-in;
}
.zoom-in{
	background-size:150%!important;
}
