*{
	margin:0;padding:0;
}

body{
	/*font:12px "museo-sans", sans-serif;*/
	font:12px "museo-sans", sans-serif;
	line-height:1.5em;
	min-height:100em;
	color:#595959;
}
h1, h2, h3, h4, h5{
	font-weight:700;
}

.container{
	max-width:960px;
}

.navbar{
	background:#000;
    border:0;
    border-radius:0;
    margin-bottom:0;
    padding-top:0em;
}
.navbar-brand > img{
    position: relative;
    top: -2px;
}
.navbar-nav li a{
    color:#ddd!important;
    margin-right:1.5em;
}
.navbar-nav li.active a, .navbar-nav li a:hover{
    background-color:#111!important;
}
.top-panel{
	background:url(../img/bg.jpg) no-repeat center;
	background-size:cover;
	height:50em;
	padding-top:6em;
	border-bottom: 15px solid #23bff2;
	transition:background-size 1.2s ease-in;
}
.zoom-in{
	background-size:135%!important;
}

.top-box{
	background-image: url(../img/shape.png);
	background-repeat: no-repeat;
	padding:1em 2.4em;
	height:460px;
	width:400px;
	color: #FFF;
	font-size: 1.4em;
	line-height: 1.3em;
	font-weight: 300;
}

.top-box img.logo{
	padding-top: 50px;
	padding-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.top-box img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

.video-box h2{
	margin-top:0;
}

.content-box{
	padding-top: 40px;
	padding-bottom: 20px;
	font-size:1.2em;
	line-height:1.4em;
	margin-left: auto;
	margin-right: auto;
}

.intro-box{
	font-size:1.2em;
	padding:6em 0;
}

.features-box{
	text-align: center;
	padding-bottom: 3em;	
	font-size: 1.2em;
}

.features-box h4{
	color: #23bff2;
	padding-top: 1em;
}

.logo-box{
	text-align: center;
	padding-bottom: 3em;
}

.logo-box img{
	max-width:100%; 
	height:auto;
}

.logo-box p{
	font-size: 1.6em;
	line-height: 1.7em;
}

.logo-box h4{
	padding-top: 1.4em;
}

.history-box{
	padding-bottom: 5em;	
	font-size: 1.2em;
}

.history-box h3{
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.contact-box{
	font-size:1.6em;
	line-height:1.6em;
	padding:5em 0em;
	border-top: 15px solid #23bff2;
	border-bottom:  15px solid #23bff2;
	text-align: center;
}

.footer {
	padding: 3em 0;
}

.footer a {
	margin-right: 1.5em;
	color:#888;
}