*{
	margin:0;padding:0;
}

body{
	/*font:12px "museo-sans", sans-serif;*/
	font:12px "museo-sans", sans-serif;
	line-height:1.5em;
	min-height:100em;
}
h1, h2, h3, h4, h5{
	font-weight:700;
}

.container{
	max-width:960px;
}

.navbar{
	display:none;
}
.top-panel{
	background:url(../img/bg.jpg) no-repeat center;
	background-size:cover;
	height:50em;
	padding-top:6em;
	transition:background-size 1.2s ease-in;
}
.zoom-in{
	background-size:135%!important;
}

.video-box{
	background:#ffffff;
	padding:1em 1.2em;
	width:42.5em;
}
.video-box h2{
	margin-top:0;
}

.intro-box{
	font-size:1.5em;
	line-height:1.6em;
	padding:4em 0;
}
